/* importing google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #e3f2fd;
}
a {
    text-decoration: none;
}
.project-name {
    text-align: center;
    padding: 20px 0;
    font-style:oblique;
    background-image: linear-gradient(#d50e6f,#fdbde2);
}
.next-pro {
    padding: 15px;
    margin: 20px 0;
    margin-left: 45%;
    border-radius: 5px;
    font-size: large;
    background-color:#d50e6f;
    color: white;
    border: none;
}
button:hover {
    cursor: pointer;
}
.body-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}