/* importing google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: #e3f2fd;

}
a {
    text-decoration: none;
}
.project-name {
    text-align: center;
    padding: 20px 0;
    font-style:oblique;
    background-image: linear-gradient(#d50e6f,#fdbde2);
}
.next-pro {
    padding: 15px;
    margin: 20px 0;
    margin-left: 45%;
    border-radius: 5px;
    font-size: large;
    background-color:#d50e6f;
    color: white;
    border: none;
}
button:hover {
    cursor: pointer;
}
.body-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.wrapper {
    width: 780px;
    border-radius: 20px;
    padding: 35px 40px;
    background: #141414;
}
.wrapper header {
    color: #b2b2b2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h2 {
    font-size: 1.6rem;
}
header .column {
    display: flex;
    align-items: center;
}
header .column span {
    font-weight: 500;
    font-size: 1.19rem;
    margin-right: 15px;
}
.volumne-slider input {
    accent-color: #fff;
    outline: none;
}
.keys-checkbox input {
    width: 60px;
    height: 30px;
    outline: none;
    cursor: pointer;
    appearance: none;
    border-radius: 30px;
    background: #4b4b4b4b;
    position: relative;
}
.keys-checkbox input::before {
    content: '';
    height: 20px;
    width: 20px;
    top: 50%;
    left: 5px;
    border-radius: inherit;
    position: absolute;
    background: #8c8c8c;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}
.keys-checkbox input:checked::before {
    left: 35px;
}
.piano-keys .key {
    list-style: none;
    color: #a2a2a2;
}